<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>o4em3.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="public/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="public/lib/js/jquery.json-viewer.js"></script>
    <script type="text/javascript" src="public/lib/js/bootstrap.min.js"></script>

    <link href="public/lib/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <!-- END Hide/Show fields and elements style -->
    <link href="public/css/hide.css" rel="stylesheet" media="screen">
    <style type="text/css">
      /* Show CSS */
      <% css="#style--f1";
      2.upto @pp_backend.element.add.field.range_count[0] do |index|
      css += ",#style--f#{index}"
      end %>
      <%="#{css}{display:list-item}"%>
    </style>
    <link href="public/css/error.css" rel="stylesheet" media="screen">
    <link href="public/css/style.css" rel="stylesheet" media="screen">
    <!-- // END Hide/Show fields and elements style -->

    <!-- Initialize All prperties and info - messages -->
    <script type="text/javascript">
      // СТоит вынести в файл
      window.O4 = {
        pp: new Object,
        tt: new Object,
        init: function () {
          this.pp = <%= @pp.to_json %>;
          this.tt = <%= @tt.to_json %>;
        }
      };
    </script>
    <!-- // END Initialize All prperties and info - messages -->

    <script src="public/js/fabric.js"></script>
    <script src="public/js/env.js"></script>
    <script src="public/js/env2.js"></script>
    <script src="public/js/state.js"></script>
    <script src="public/js/error.js"></script>
    <script src="public/js/inspector.js"></script>
    <script src="public/js/controller.js"></script>
    <script src="public/js/picker.js"></script>
    <script src="public/js/navigate.js"></script>
    <script src="public/js/net.js"></script>
    <script src="public/js/ui.js"></script>
    <script type="text/javascript">
      (function() {
        jQuery(document).ready(function() {
          O4.init();
          ui.init();
          env.init();
          
          //пока нечего инициализировать (см. внутрь)
          //env2.init();

          state.init();
          error.init();
          inspector.init();
          controller.init();
          net.init();
          picker.init({
            'text': {
              'id': '<%=@pp_backend.element.add.text.id%>'
            },
            'field': {
              'idPrefix': '<%=@pp_backend.element.add.field.id_prefix%>'
            }
          });
          console.log('Initialize project OK!');
        });

      }).call(this);
      document.getElementById('textAreaID').addEventListener("DOMNodeInserted",function(e){ alert('страница изменена'); },false);
    </script>
  </head>
  <body>
  [[main]]
  </body>
</html>